<p id="notice"><%= notice %></p>

<div class="mb-2 ">
  <%= render 'form', post: @post %>
</div>

<% @posts.each do |post| %>
<div class="card mb-2 w-50">
  <div class="card-body text-wrap">
    <%= post.content %>
    <div class="mt-3">
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<% end %>
