<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body class="d-flex flex-column align-items-center">
    <section>
      <h1 class="member text-center">Welcome to Members Only</h1>
      <hr>
      <% if user_signed_in? %>
     <h2 class="text-center"> <%= current_user.name %> </h2>
        <%= link_to "Log Out", destroy_user_session_path,:method => 'delete', class: "flex-sm-fill text-sm-center nav-link btn btn-primary mr-2" %>
      <% else %>
        <nav class="nav nav-pills flex-column flex-sm-row">
          <%= link_to "Sign In", new_user_session_path, class: "flex-sm-fill text-sm-center nav-link btn btn-primary mr-2" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "flex-sm-fill text-sm-center nav-link btn btn-outline-secondary" %>
        </nav>
      <% end %>
    </section>
    
    <div class="d-flex flex-column align-items-center">
      <%= yield %>
    </div>
  </body>
</html>
