<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body class="d-flex flex-column align-items-center">
    <section>
      <h1 class="member text-center">Welcome to Members Only</h1>
      <hr>
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link btn btn-primary mr-2" href="#!">Sign In</a>
        <a class="flex-sm-fill text-sm-center nav-link btn btn-outline-secondary" href="#!">Sign Up</a>
      </nav>
    </section>
    
    <div class="d-flex flex-column align-items-center">
      <%= yield %>
    </div>
  </body>
</html>
